@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  font-family: 'Prompt', sans-serif;
}

.App {
  text-align: center;
  margin-top: 70px;
}

.Input{
  margin:0 500px ;
  height: 125px;
  display:flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: #61dafb;
  flex-direction: column;
}

.output{
  position: relative;
  margin: 20px 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border : 2.5px solid black;
  border-radius: 10px;
  padding: 10px;

}
.button{
  display: flex;
  position:absolute;
  right : 30px;
  gap: 20px
}

input[type="text"]{
  padding: 10px;
  width: 45%;
  font-size: 20px;
  border:none;
}
.add{
  padding: 10px;
}